.props-popup {
	min-width: 100px;
	min-height: 60px;
	z-index: 999;
}

.props-popup .props-table input {
	width: 100px;
}
.props-popup .props-table select {
	width: 100px;
}

.props-popup .opt {
	width: 100%;
	height: 32px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#add-row {
	width: 40%;
}

#add-row span {
	cursor: pointer;
}

#show-style-props {
	width: 60%;
}
#show-style-props #show-style {

}


.props-popup .btns {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 10px;
	height: 32px;
}
.props-popup .btns button {
	height: 28px;
	font-size: 14px;
	cursor: pointer;
	border: 0;
	border-radius: 3px;
	background-color: #59AAE7;
	color: #545454;
	font-weight: 500;
}

.props-popup .btns button:hover {
	background-color: #006EA7;
	color: #ffffff;
}