html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  #root {
    width: 100%;
    height: 100%;

    #app {
      width: 100%;
      height: 100%;

      .map {
        height: 100%;
        width: 100%;

        /* leaflet style */
        .leaflet-editing-icon {
          margin-left: -5px !important;
          margin-top: -5px !important;
          width: 10px !important;
          height: 10px !important;
          border-radius: 50%;
        }

        /* leaflet popup style */
        .leaflet-popup-content {
          margin: 20px 10px 5px 10px;
        }
        .leaflet-popup-content-wrapper {
          border-radius: 2px;
        }
      }
    }
  }
}