html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  #root {
    width: 100%;
    height: 100%;

    #app {
      width: 100%;
      height: 100%;

      .map {
        height: 100%;
        width: 100%;

        /* leaflet style */
        .leaflet-editing-icon {
          margin-left: -5px !important;
          margin-top: -5px !important;
          width: 10px !important;
          height: 10px !important;
          border-radius: 50%;
        }

        .leaflet-control-layers {
          
          &.leaflet-control-layers-expanded {
            padding: 4px;
          }

          .leaflet-control-layers-toggle {
            background-size: 16px 16px;
            width: 30px;
            height: 30px;
          }
        }


        /* leaflet popup style */
        .leaflet-popup-content {
          margin: 20px 10px 5px 10px;
        }
        .leaflet-popup-content-wrapper {
          border-radius: 2px;
        }
      }

      ::-webkit-scrollbar {
        width: 3px;
        height: 3px;
      }
    }
  }
}